---
layout: default
---

<style>
    .custom-title {
        display: flex;
        align-items: center;
    }

    .custom-title hr {
        flex: 1;
        border: none;
        border-top: 2px solid rgb(95, 36, 36);
        margin: 0 10px;
    }

    .custom-title span {
        margin: 0;
        color: rgb(95, 36, 36);
        font-size: 24px;
    }
</style>


<style>
    body {
      font-family: Arial, sans-serif;
    }
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }
    .fat-text {
      font-weight: bold;
    }
    .italic-text {
      font-style: italic;
    }
    .gray-text {
      color: gray;
      font-style: italic;
    }
    .right-aligned {
      text-align: right;
    }
    .indented-paragraph {
      text-indent: 20px;
    }
  </style>


<article class="page">

  <h1>{{ page.title }}</h1>
  
    {{ content }}

</article>